body {
  font-family: Arial, Helvetica;
  margin: 0;
  background: linear-gradient(45deg, #1eb89c, #09c228, #ee7752, #e73c7e);
  background-size: 400%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: gradient 15s ease infinite;
  x-overflow: hidden;
  y-overflow: hidden;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.centertext {
    margin: auto;
    padding: 10px;
  }


.center {
  display: flex;
  align-items: center;
  height: 60vh; 
  text-align:center
}

.rectangle {
    border-radius: 25px;
    margin: auto;
    height: auto;
    width: 55%;
    background-color: #0a78cb;
  }
  
  .circle {
    border: 1px solid #555;
    height: 75px;
    width: 75px;
    background-color: #555;
    border-radius: 14px;
  }

  .topright {
    position: fixed;
    top:0;
    right:0;
  }

  .topleft {
    position: fixed; 
    top: 0;
    left: 0%
}
    footer {
    display: flex;
    flex-direction: column;
    line-height: 40px;
  }
  
  .rectangle2 {
    border-radius: 0px 0px 15px 15px;
    margin: auto;
    height: 5%;
    width: 99%;
    background-color: #0a78cb;
    display: flex;
    justify-content: left;
    padding-left: 20px;
  }

    .image {
      height: 200px;
      width: 200px;
      margin: 5%;
      display: flex;
      max-width: 100%;
      border-radius: 14px;
      margin-right: -5%;
      margin-top: -29%;
  }

  @media (orientation: portrait),
  (max-aspect-ratio: 1/1) {
    .rectangle, .rectangle2 {
        width: 90%;
    }

    .image {
        margin: auto;
        display: block;
    }
}

.dropdown p {
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.5s ease-in-out; 
  padding: 0 10px;
}


.dropdown:hover p {
  max-height: 1000px; 
  padding: 10px; 
}

a:link {
  color: black;
}

a:visited {
  color: black;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #34ccff;
}

a:active {
  color: blue;
}

.top {
  position: absolute;
}

